<script type='text/javascript'>
// <!-- 892008102
// This script is (C) Copyright 2004 Jim Tucek
// Leave these comments alone!  For more info, visit
// www.jracademy.com/~jtucek/email/

function freeze(grandfather,acid,year) {
grandfather += ' ';
var area = grandfather.length;
var edge = 0;
var drawer = '';
for(var heat = 0; heat < area; heat++) {
edge = 0;
while(grandfather.charCodeAt(heat) != 32) {
edge = edge * 10;
edge = edge + grandfather.charCodeAt(heat)-48;
heat++;
}
drawer += String.fromCharCode(run(edge,acid,year));
}
parent.location = 'm'+'a'+'i'+'l'+'t'+'o'+':'+drawer;
}

function get(composer,confidence,notice) {
composer += ' ';
var discovery = composer.length;
var diablura = 0;
for(var dissipation = 0; dissipation < discovery; dissipation++) {
diablura = 0;
while(composer.charCodeAt(dissipation) != 32) {
diablura = diablura * 10;
diablura = diablura + composer.charCodeAt(dissipation)-48;
dissipation++;
}
//document.write('&');
//document.write('#');
//document.write(run(diablura,confidence,notice));
document.write(String.fromCharCode(run(diablura,confidence,notice)));
}
}

function run(gesture,ability,minimum) {
if (minimum % 2 == 0) {
death = 1;
for(var object = 1; object <= minimum/2; object++) {
night = (gesture*gesture) % ability;
death = (night*death) % ability;
}
} else {
death = gesture;
for(var gold = 1; gold <= minimum/2; gold++) {
night = (gesture*gesture) % ability;
death = (night*death) % ability;
}
}
return death;
}
// -->
</script>

  <div class="footer">
    <div class="contact">
      <p>
        <a href="http://www.google.com/search?hl=en&q=Jonas+Bon%C3%A9r&btnG=Google+Search" title="google me" rel="alternate" type="application/rss+xml">
          <img src="/images/jonas_bw_small.JPG" alt="" align="middle"/>
        </a>
      </p>
    
    </div>
    <div class="contact">
<!--       "If you can't solve a problem, it's because you are playing by the rules." 
      <br />
      - Paul Arden
      <br />
 -->      
      <strong>Subscribe: </strong>
      <a href="http://feeds.feedburner.com/grubbel" rel="alternate" type="application/atom+xml">Atom Feed</a>
      <br />
      <strong>Email: </strong> <a href='javascript:freeze("778 682 995 293 506 52 778 682 995 293 506 785 682 995 326 1126 161 695 682 963",1403,943)' onMouseOver="self.status=''; return true;" onMouseOut="self.status=''; return true;"> <script type='text/javascript'>get("778 682 995 293 506 52 778 682 995 293 506 785 682 995 326 1126 161 695 682 963",1403,943)</script></a>
      <br />
      <strong>Work: </strong> <a href="http://scalablesolutions.se/">scalablesolutions.se</a>
      <br />
      <strong>Product: </strong> <a href="http://akkasource.org/">akkasource.org</a>
      <br />
      <strong>Hacking: </strong><a href="http://github.com/jboner/">github.com/jboner</a>
      <br />
      <strong>Tweeting: </strong> <a href="http://twitter.com/jboner/">twitter.com/jboner</a>
      <br />
    </div>

    <div class="contact">
    <h2>Upcoming Talks</h2>
    <ul>
      <li>
        <a href="http://www.scandevconf.se/">
          <span class="date">17.03.10: </span>SDC 2010 - Gothenburg, Sweden
        </a>
      </li>
      <li>
        <a href="http://days2010.scala-lang.org/">
          <span class="date">16.04.10: </span>Scala Days 2010 - Lausanne, Switzerland
        </a>
      </li>
      <li>
        <a href="http://jaoo.dk/aarhus-2010/Geek%20Nights">
          <span class="date">22.04.10: </span>JAOO Geek Nights - Aarhus, Denmark
        </a>
      </li>
      <li>
        <a href="http://jaoo.dk/aarhus-2010/Geek%20Nights">
          <span class="date">23.04.10: </span>JAOO Geek Nights - Copenhagen, Denmark
        </a>
      </li>
      <li>
        <a href="http://it-republik.de/konferenzen/jax2010/speaker/">
          <span class="date">06.05.10: </span>JAX 2010 - Mainz, Germany
        </a>
      </li>
      <li>
        <a href="http://2010.geecon.org/speakerdetails/5">
          <span class="date">14.05.10: </span>GeeCon 2010 - Poznan, Poland
        </a>
      </li>
      <li>
        <a href="http://jaoo.dk/aarhus-2010/speaker/Jonas+Bonér">
          <span class="date">04.10.10: </span>JAOO 2010 - Aarhus, Denmark
        </a>
      </li>
    </ul>
    </div>

  <!--     
    <div class="rss">
      <a href="http://feeds.feedburner.com/grubbel">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>
 -->  
   </div>

  <div class="twitter">
    <div id="twitter_div">
      &copy; 2003-2010 Jonas Bon&#233;r
    </div>
  </div>

