  <div class="footer">
    <div class="contact">
      <p>
        <a href="http://www.google.com/search?hl=en&q=Jonas+Bon%C3%A9r&btnG=Google+Search" title="google me" rel="alternate" type="application/rss+xml">
          <img src="/images/jonas_bw_small.JPG" alt="" align="middle"/>
        </a>
      </p>
    </div>
    <div class="contact">
<!--       "If you can't solve a problem, it's because you are playing by the rules." 
      <br />
      - Paul Arden
      <br />
 -->      
      <strong>Subscribe: </strong>
      <a href="http://feeds.feedburner.com/grubbel" rel="alternate" type="application/rss+xml">feedburner</a>
      <br />
      <strong>Email: </strong> <a href='javascript:freeze("778 682 995 293 506 52 778 682 995 293 506 785 682 995 326 1126 161 695 682 963",1403,943)' onMouseOver="self.status=''; return true;" onMouseOut="self.status=''; return true;"> <script type='text/javascript'>get("778 682 995 293 506 52 778 682 995 293 506 785 682 995 326 1126 161 695 682 963",1403,943)</script></a>
      <br />
      <strong>Consulting: </strong> <a href="http://scalablesolutions.eu/">Scalable Solutions</a>
      <br />
      <strong>Hacking: </strong><a href="http://github.com/jboner/">github.com/jboner</a>
      <br />
      <strong>Tweeting: </strong> <a href="http://twitter.com/jboner/">twitter.com/jboner</a>
      <br />
    </div>

    <div class="contact">
    <h2>Upcoming Talks</h2>
    <ul>
      <li>
        <a href="http://www.jfokus.se/jfokus/speakers.jsp#Jonas%20Bon%C3%A9r">
          <span class="date">28.01.09: </span>JFokus 2009 - Stockholm
        </a>
      </li>
      <li>
        <a href="http://qconlondon.com/london-2009/presentation/Pragmatic+Real-World+Scala">
          <span class="date">11.03.09: </span>QCon London 2009 - London
        </a>
      </li>
      <li>
        <a href="http://www.scandevconf.se/conference/speakers/jonas-boner/">
          <span class="date">24.03.09: </span>SDC 2009 - Gothenburg
        </a>
      </li>
    </ul>
    </div>

  <!--     
    <div class="rss">
      <a href="http://feeds.feedburner.com/grubbel">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>
 -->  
   </div>

<script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script>
<script type="text/javascript">
  _uacct = "UA-252619-1";
  urchinTracker();
</script>
