<a href="http://github.com/jboner"><img style="position: absolute; top: 0; left: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png" alt="Fork me on GitHub" /></a>

<script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script>
<script type="text/javascript">
  _uacct = "UA-252619-1";
  urchinTracker();
</script>

<link type="text/css" rel="stylesheet" href="/css/dp.SyntaxHighlighter/Styles/SyntaxHighlighter.css"></link>
<script language="javascript" src="/css/dp.SyntaxHighlighter/Scripts/shCore.js"></script>
<script language="javascript" src="/css/dp.SyntaxHighlighter/Scripts/shBrushJava.js"></script>
<script language="javascript" src="/css/dp.SyntaxHighlighter/Scripts/shBrushRuby.js"></script>
<script language="javascript" src="/css/dp.SyntaxHighlighter/Scripts/shBrushScala.js"></script>
<script language="javascript" src="/css/dp.SyntaxHighlighter/Scripts/shBrushXml.js"></script>
<script language="javascript">
  dp.SyntaxHighlighter.ClipboardSwf = '/css/dp.SyntaxHighlighter/Scripts/clipboard.swf';
  dp.SyntaxHighlighter.HighlightAll('code');
</script>

<script type="text/javascript">
//<![CDATA[
(function() {
  var links = document.getElementsByTagName('a');
  var query = '?';
  for(var i = 0; i < links.length; i++) {
    if(links[i].href.indexOf('#disqus_thread') >= 0) {
       query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
    }
  }
  document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/jonasboner/get_num_replies.js' + query + '"></' + 'script>');
  })();
//]]>
</script>
