<div id="main-navigation">
  <div id="main-navigation-inner">
   <div class="contact">
     <ul>
      <li class="first"><a href="/">Home</a></li>
      <li class=""><a href="/archives/">Archives</a></li>
      <li class=""><a href="/articles/">Articles</a></li>
      <li class=""><a href="/projects/">Projects</a></li>
      <li class=""><a href="/talks/">Talks</a></li>
      <li class=""><a href="/resume/">Resume</a></li>
      <li class="last"><a href="/about/">About</a></li>
    </ul>
  </div>
  </div>
</div>
 
 <script type='text/javascript'>
// <!-- 892008102
// This script is (C) Copyright 2004 Jim Tucek
// Leave these comments alone!  For more info, visit
// www.jracademy.com/~jtucek/email/

function freeze(grandfather,acid,year) {
grandfather += ' ';
var area = grandfather.length;
var edge = 0;
var drawer = '';
for(var heat = 0; heat < area; heat++) {
edge = 0;
while(grandfather.charCodeAt(heat) != 32) {
edge = edge * 10;
edge = edge + grandfather.charCodeAt(heat)-48;
heat++;
}
drawer += String.fromCharCode(run(edge,acid,year));
}
parent.location = 'm'+'a'+'i'+'l'+'t'+'o'+':'+drawer;
}

function get(composer,confidence,notice) {
composer += ' ';
var discovery = composer.length;
var diablura = 0;
for(var dissipation = 0; dissipation < discovery; dissipation++) {
diablura = 0;
while(composer.charCodeAt(dissipation) != 32) {
diablura = diablura * 10;
diablura = diablura + composer.charCodeAt(dissipation)-48;
dissipation++;
}
//document.write('&');
//document.write('#');
//document.write(run(diablura,confidence,notice));
document.write(String.fromCharCode(run(diablura,confidence,notice)));
}
}

function run(gesture,ability,minimum) {
if (minimum % 2 == 0) {
death = 1;
for(var object = 1; object <= minimum/2; object++) {
night = (gesture*gesture) % ability;
death = (night*death) % ability;
}
} else {
death = gesture;
for(var gold = 1; gold <= minimum/2; gold++) {
night = (gesture*gesture) % ability;
death = (night*death) % ability;
}
}
return death;
}
// -->
</script>

